.container__principal {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title__main {
    display: block;
    margin: auto;
    width: 10.7em;
    font-size: 1.8rem; 
    font-weight: bold;
    padding: 3em 1em 1.5em 1em;
}

.title__main__red {
    color: var(--cor-principal);
}

.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 55px;
    column-gap: 1em;
}

.contato__titulo {
    font-weight: bolder;
}

.contato__imagem {
    width: 25px;
}

.container__solucoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 15px;
    width: 80vw;
    border-radius: 30px;
    background-color: var(--cor-quartenaria);
}

.container__solucoes__title {
    color: var(--cor-principal);
    font-weight: bolder;
    text-align: center;
    padding: 2em; 
}

.container__solucoes__descricao {
    position: relative;
    text-align: center;
    bottom: 140px;
}

.tipo__sistema {
    font-size: 2.5rem;
    color: var(--cor-secundaria);
}

.nome__sistema {
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.embarcador {
    font-size: 1.4rem;
}

    